* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	color: white;
	background-color: rgb(1, 21, 50);
	font-family: 'Space Grotesk', sans-serif;
}

header {
	color: rgb(233, 244, 91);
	background-color: rgb(76, 2, 53);
	text-align: center;
	padding: 32px;
}

h1 {
	font-size: 32px;
}

p {
	font-size: 20px;
	margin-top: 10px;
}

.container{
    margin: 0 auto;
    max-width: 512px;
}

.generi {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
    gap: 10px;
}

.genere {
    width: 100px;
    height: 100px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(108,146,186);
    cursor: pointer;
}

.genere:hover {
    background-color: rgb(108,146,186);
}

.avvio-gioco h1 {
    font-size: 16px;
}

.avvio-gioco header {
    padding: 16px;
}

.avvio-gioco header p,
.avvio-gioco .generi {
    display: none;
}

.carico {
    height: 512px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.invisibile {
    display: none;
}

.fine-gioco {
    text-align: center;
    padding: 32px;

}

.fine-icona {
    font-size: 60px;
}

button {
    margin: 16px 0;
    padding: 16px;
    width: 100%;
    font-size: 20px;
    font-family: 'Space Grotesk', sans-serif;
    border: 2px solid rgb(108,146,186);
    background-color: transparent;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: rgb(108,146,186);
}

.quadro-img {
    min-height: 300px;
    background-image: url("images/loader.gif");
    background-repeat: no-repeat;
    background-position: center;
}

.quadro-img img {
    max-width: 100%;
}

.quadro-cont {
    padding: 16px;
    position: relative;
    top: -50px;
    background-image: linear-gradient(
    to bottom,
    rgba(1,21,50, 0.5) 40%,
    rgb(1,21,50) 100%);
}